body {
  font-family: "Space Mono", monospace;
}
h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 27px;
  margin-bottom: 0;
}
h2 {
  font-size: 16px;
  margin: -80px 800px 100px 320px;
}
h3 {
  font-size: 16px;
  margin: 0 32px 20px 20px;
}
.application-box {
  max-width: 600px;
  margin: 20px auto;
}
.application {
  background: #eef1ff;
  border-radius: 15px;
  border: 1px solid #e3fdfd;
  color: #b1b2ff;
  padding: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
#temperature {
  color: #aac4ff;
  font-size: 60px;
}
.application img {
  margin-right: 5px;
  margin-top: 12px;
  height: 63px;
  width: 63px;
}
.application .units {
  position: relative;
  font-size: 18px;
  top: -35px;
  top: 20px;
}
a:link {
  text-decoration: none;
  color: #aac4ff;
}
#search-format {
  display: inline-block;
  background: #d2daff;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 15px 20px;
}
.application .btn {
  background: #b1b2ff;
  border: none;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 10px 0;
}
.forecast {
  margin-top: 20px;
  text-align: center;
  color: #aac4ff;
}
.forecast-date {
  font-size: 17px;
}
