body {
  font-family: "Space Mono", monospace;
}
h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 27px;
  margin-bottom: 0;
  margin-top: 5px;
}
h2 {
  font-size: 16px;
  margin: -80px 800px 100px 320px;
}
h3 {
  font-size: 16px;
  margin: 0 32px 20px 20px;
}
.application-box {
  max-width: 600px;
  margin: 20px auto;
}
.application {
  background: #e3fdfd;
  border-radius: 15px;
  border: 1px solid #e3fdfd;
  color: #878787;
  padding: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#temperature {
  color: #c9bbcf;
  font-size: 60px;
}
.application .units {
  font-size: 18px;
  position: relative;
  top: -24px;
}
a:link {
  text-decoration: none;
  color: #878787;
}
#search-format {
  display: inline-block;
  background: #71c9ce;
  background: #d6efed;
  border: none;
  border-radius: 2px;
  color: rgba(216, 226, 100, 0.4);
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 15px 20px;
}
.application .btn {
  background: #71c9ce;
  border: none;
  font-size: 16px;
  height: 40px;
  line-height: 10px;
  padding: 10px 0;
}
